Repository shushill/WebAppLive: changes, and which Jenkins stages are due for each by the changed paths.
All: Check Post, Database, Monitoring Tools

Check Post:
              steps {
                  script {
                      sh 'echo "This is working"'
                  }
              }
          

Database:
              steps {
                  script {
                      dir('Database') {
                        sh 'echo "Database folder"'
                        sh 'docker volume create postgres-data || true'
                        sh 'docker volume create pgadmin-data || true'
  ...

Monitoring Tools:
              steps {
                  script {
                      dir('Observability'){
                          sh 'docker volume create prometheus-data || true'
                          sh 'docker volume create grafana-data || true'
  ...

Update docker-compose.yml
  Database/docker-compose.yml
Due: Database

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

README.md file changed
  README.md
Due: none

Update Dockerfile
  Database/Dockerfile
Due: Database

Update Jenkinsfile
  Jenkinsfile
Due: none

updating CI/CD pipeline
  .github/workflows/deploy-dashboard.yaml
  Database/Dockerfile
  Database/docker-compose.yml
  Jenkinsfile
  Observability/docker-compose.yml
  Observability/prometheus.yml
  Scripts/hello.sh
  infra/dashboard/chart.yaml
  infra/dashboard/templates/ingress.yaml
  infra/dashboard/templates/middleware.yaml
  infra/dashboard/values.yaml
  k8s/ingress.yaml
  k8s/postgres.yaml
  k8s/springboot.yaml
Due: Check Post, Database, Monitoring Tools

updating deploy-dashboard file
  .github/workflows/deploy-dashboard.yaml
Due: none

updating deploy-dashboard file
  infra/dashboard/Chart.yaml
Due: none

updating deploy-dashboard file
  infra/dashboard/templates/middleware.yaml
Due: none

updating deploy-dashboard file
  infra/dashboard/templates/ingress.yaml
Due: none

updating deploy-dashboard file
  infra/dashboard/values.yaml
Due: none

updating deploy-dashboard file
  .github/workflows/deploy-dashboard.yaml
  infra/dashboard/templates/ingress.yaml
  infra/dashboard/templates/middleware.yaml
Due: none

updating deploy-dashboard file
  infra/dashboard/templates/ingress.yaml
  infra/dashboard/templates/middleware.yaml
Due: none

Path conditions:
  Check Post: any of: Scripts/*
  Database: any of: Database/*
  Monitoring Tools: any of: Observability/*
