Repository shushill/WebAppLive: changes, and which Jenkins stages are due for each by the changed paths.
All: Just checking, Database

Path conditions:
  Just checking: any of: Scripts/*
  Database: any of: Database/*

modified files
  project/src/main/resources/application.properties
Due: none

modified files
  Jenkinsfile
  project/pom.xml
  project/src/main/resources/application.properties
Due: none

modified files
  Jenkinsfile
Due: none

modified files
  .idea/uiDesigner.xml
  Database/docker-compose.yml
  Jenkinsfile
  Scripts/springPomBasedpass
  project/Dockerfile
  project/docker-compose.yml
  project/pom.xml
  project/src/main/java/com/sushil/project/ProjectApplication.java
  project/src/main/java/com/sushil/project/auth/README.txt
  project/src/main/java/com/sushil/project/auth/application/README.txt
  project/src/main/java/com/sushil/project/auth/domain/README.txt
  project/src/main/java/com/sushil/project/auth/web/controller/AuthController.java
  project/src/main/java/com/sushil/project/common/README.txt
  project/src/main/java/com/sushil/project/common/config/info.txt
  project/src/main/java/com/sushil/project/common/config/security/SecurityConfig.java
  project/src/main/java/com/sushil/project/common/config/security/info.txt
  project/src/main/java/com/sushil/project/homepage/info.txt
Due: Just checking, Database

modified files
  Database/Dockerfile
  Jenkinsfile
Due: Database

modified files
  Jenkinsfile
  project/Dockerfile
  project/docker-compose.yml
Due: none

modified files
  Database/Dockerfile
Due: Database

modified files
  Jenkinsfile
  project/docker-compose.yml
Due: none

modified files
  project/docker-compose.yml
Due: none

modified files
  project/Dockerfile
Due: none

modified files
  Database/docker-compose.yml
  Jenkinsfile
Due: Database

modified files
  project/pom.xml
  project/src/main/java/com/sushil/project/auth/application/service/AuthService.java
  project/src/main/java/com/sushil/project/auth/application/serviceImpl/AuthCustomService.java
  project/src/main/java/com/sushil/project/auth/application/serviceImpl/AuthServiceImpl.java
  project/src/main/java/com/sushil/project/auth/domain/entity/Roles.java
  project/src/main/java/com/sushil/project/auth/domain/entity/User.java
  project/src/main/java/com/sushil/project/auth/domain/repository/RolesRepo.java
  project/src/main/java/com/sushil/project/auth/domain/repository/UserRepo.java
  project/src/main/java/com/sushil/project/auth/web/controller/AuthController.java
  project/src/main/java/com/sushil/project/auth/web/dto/LoginDto.java
  project/src/main/java/com/sushil/project/auth/web/dto/RegisterDto.java
  project/src/main/java/com/sushil/project/common/config/security/SecurityConfig.java
  project/src/main/java/com/sushil/project/common/utility/Util.java
  project/src/main/resources/application.properties
  project/src/main/resources/templates/home.html
  project/src/main/resources/templates/login.html
  project/src/main/resources/templates/register.html
  project/src/test/java/com/sushil/project/ProjectApplicationTests.java
Due: none

modified files
  project/src/test/java/com/sushil/project/ProjectApplicationTests.java
Due: none

modified files
  project/src/main/java/com/sushil/project/common/config/security/SecurityConfig.java
Due: none

modified files
  Database/Dockerfile
  project/Dockerfile
Due: Database
